<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
>
<head>
  <title>Main page</title>
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
  <input type="submit" value="Sign Out"/>
</form>
<form action="/search">
  <button type="submit">Search Cards</button>
</form><br><br>
<form th:action="@{/card}" method="post">
  <div><label> Name: <input type="text" name="name"/> </label></div>
  <div><label> Number: <input type="text" name="number"/> </label></div>
  <div><label> Expiry: <input type="text" name="expiry"/> </label></div>
  <div><input type="submit" value="Create Card"/></div>
</form>

</body>
</html>