<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
>
<head>
  <title>Main page</title>
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
  <input type="submit" value="Sign Out"/>
</form>
<form action="/hello">
  <button type="submit">Go Back</button>
</form><br><br>

<form th:action="@{/card}" method="get">
  <div><label> Filter number: <input type="number" name="cardNumberFilter"/> </label></div>
  <div><input type="submit" value="Search"/></div>
</form>
</body>
</html>